{% load static %}
{% load humanize %}

<link type="text/css" rel="stylesheet" href="{% static "css/common-style.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "css/header.css" %}">
<script src="{% static "js/header.js" %}"></script>

<nav class="navbar navbar-default navbar-fixed-top hidden-xs" id="header-nav">
    <div class="container-fluid padding-10" id="header-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <div>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="finstatement" src="{% static "img/finstatement5.png" %}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if notifications|length  > 0 %}
                    <li>
                    <span class="badge"
                          style="top: 27px;position: relative;left: 102px;z-index: 1;background-color: red; cursor: pointer">{{ notifications|length }}</span>
                    </li>
                {% endif %}
                <li>
                    <button class="btn btn-default dropdown-toggle button-nav" type="button" id="notifications-menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="padding-top: 9px !important; padding-bottom: 5px !important; padding-left: 9px !important; padding-right: 9px!important;">
                        <a href="#" style="font-size: 1.1em; padding-top: 19px; margin: 0px !important">
                            <span class="glyphicon glyphicon-info-sign"
                                  style="font-size: 1.4em; color: white;  margin: 0px !important"></span>

                        </a>
                    </button>
                    <ul id="info" class="dropdown-menu" aria-labelledby="notifications-menu" onclick="return false">
                        <li onclick="return false">

                            <span>Statement for </span>
                            <span class="pull-right" id="current-date"></span>
                        </li>
                        <li role="separator" class="divider" style="margin: 0px; margin-bottom: 5px"></li>
                        <li>
                            <span>Cash:</span>
                            <b><span class="pull-right"><span class="currency"
                                                              style="margin: 0px">$</span><span
                                    id="cash">3000</span></span></b>
                        </li>

                        <script>
                            var date = new Date();

                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jui", "Aug", "Sep", "Oct", "Nov", "Dec"
                            ];

                            $('span#current-date').html(monthNames [date.getMonth()] + '/' + date.getFullYear())
                            $('span#cash').html('&nbsp;' + numberWithCommas($('span#cash').text()));
                        </script>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle button-nav" type="button" id="notifications-menu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
                        <a href="#" style="font-size: 1.1em; padding-top: 19px;">
                            <span class="glyphicon glyphicon-bell" style="font-size: 1.3em; color: white"></span>

                        </a>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="notifications-menu">
                        {% for notification in notifications|slice:":3" %}
                            <li>
                                <a href="/notifications/{{ notification.notifications_id }}">
                                    <div style="display: inline">
                                        <label class="notification-header">{{ notification.header }}</label>
                                        <label class="notifications-date pull-right">{{ notification.creation_date|naturaltime }}</label>

                                    </div>
                                    <div id="message">
                                        <label style="white-space: normal">
                                            {{ notification.message|truncatechars:"100" }}
                                        </label>

                                    </div>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                        {% empty %}
                            <li class="notifications-date" style="text-align: center; height: 36px;padding-top: 10px;">No new notifications available yet</li>
                            <li role="separator" class="divider"></li>
                        {% endfor %}
                        <div align="center">
                            <a href="/notifications" style="text-align: center; color: #337ab7 !important; font-size: 12.5px;">
                                Show all
                            </a>
                        </div>
                    </ul>
                </li>
                <li id="avatar">
                    <img id="avatar" class="img-circle  dropdown-toggle" src="../static/img/user.png"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    >
                    <ul class="dropdown-menu" aria-labelledby="avatar" style="padding: 15px 20px">
                        <li>Name: <label class="pull-right" style="margin-bottom: 0">{{ request.user.name }}</label></li>
                        <li>Subscription type: <a href="/pricing" class="pull-right" style=" padding-bottom: 0; padding-right: 0; background-image: none !important; background-color: inherit;">{{ request.user.account_type }}</a></li>
                        {% if request.user.expired_date != None %}
                            <li>Expire date: <b class="pull-right">{{ request.user.expired_date }}</b></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li class="pull-right" style="display: inline; padding-top: ">
                            <a href="/settings" style="display: inline !important; padding: 3px 5px;"><span class="glyphicon glyphicon-cog"></span></a>
                            <a href="/logout" style="display: inline !important; padding: 3px 5px;"><span class="glyphicon glyphicon-log-out"></span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="pricing"
                       style="padding: 0px; margin-right: 5px; margin-left: 5px;">
                    <button id="upgrade-button" class="btn btn-primary navbar-btn nav-button pull-right">Upgrade
                    </button>
                </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top visible-xs" role="navigation" id="slide-nav" style="">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                {% if notifications|length  > 0 %}
                    <span class="badge"
                          style="top: -9px; left: 18px; position: relative; z-index: 1;background-color: red; cursor: pointer">{{ notifications|length }}</span>
                {% endif %}
            </a>

            <a class="navbar-brand" href="/">
                <img alt="finstatement" src="{% static "img/finstatement5.png" %}">
            </a>

            {% if user.account_type == "trial" %}
                <a href="pricing" class="pull-right"
                   style="padding: 0px;margin-right: 0px;margin-left: 5px;">
                    <button id="upgrade-button"
                            class="btn btn-primary navbar-btn nav-button pull-right upgrade-mobile-button">Upgrade
                    </button>
                </a>
            {% endif %}
        </div>
        <div id="slidemenu">
            <ul class="nav navbar-nav" style="padding-top: 20px">
                <li class="active bordered-nav"><a href="/">Home</a></li>
                <li class="bordered-nav"><a href="notifications">Notifications
                    {% if notifications|length  > 0 %}
                        <span class="badge"
                              style="background-color: red; margin-left: 5px">{{ notifications|length }}</span></a>
                    {% endif %}
                </li>
                <li class="bordered-nav"><a href="profile">Profile</a></li>
                <li class="bordered-nav"><a href="settings">Settings</a></li>
                <li class="bordered-nav"><a href="about">About</a></li>
                <li class="bordered-nav"><a href="logout">Exit</a></li>
            </ul>
        </div>
    </div>
</div>



