{% load static %}

<script src="{% static "js/jquery-3.1.1.js" %}"></script>

<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap.css.map" %}">

<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css.map" %}">

<script src="{% static "js/bootstrap.js" %}"></script>

