body {
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    text-align-last: left !important;
    font-size: 12px;
}

legend{
    width:auto; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

/*div#buttons {*/
    /*margin-top: 10px;*/
    /*width: 200px;*/
/*}*/
div#nextPageNodeProperties {
    margin-top: 10px;
    width: 200px;
}
div#nextPageSnmpProperties {
    margin-top: 10px;
    width: 200px;
}
div#nextPageMonitoring {
    margin-top: 10px;
    width: 200px;
}

button#send {
    width: 150px;
    height: 35px;
}

fieldset.general-properties {
    width: 550px;
    /*height: 400px;*/
    height: inherit;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset.more-information{
    width: 550px;
    /*height: 500px;*/
    height: inherit;

    /*margin-top: -420px;*/
    /*margin-left: 600px;*/
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset.power-suply{
    width: 550px;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset.dates {
    width: 550px;
    height: inherit;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
fieldset.maintenance-period {
    width: 550px;
    height: inherit;
    /*margin-top: -350px;*/
    /*margin-left: 600px;*/
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
fieldset.other-info{
    width: 550px;
    height: inherit;
    /*margin-left: 600px;*/
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset.snmp-properties{
    /*width: 550px;*/
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
fieldset.other-properties{
    width: 550px;
    height: inherit;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    /*margin: 0 0 1.5em 0 !important;*/
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
textarea#other-information {
    height: 130px;
    width: 510px;
}
