<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>

    {% load static %}
    {% include "libs.html" %}
{#    <script type="text/javascript" src="{% static "js/angular-dumanov-validation.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/angular-dumanov-basic.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/signin.js" %}"></script>#}

    <link type="text/css" rel="stylesheet" href="{% static "css/common-style.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/signin.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/signup.css" %}">
</head>
<body>
<div class="mainDiv">

    <div class="col-xs-12 col-sm-6">


{#        <form id="form" name="form" ng-submit="sendPost()">#}
        <form id="form" name="form" action="signin" method="post">
            {% csrf_token %}
            <div class="nameDiv padding">
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"
                       ng-model="email"
                >
                <span ng-bind-html="emailError"></span>
            </div>
            <div class="nameDiv padding">

                <input type="password"
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="Password"
                       ng-model="password"
                >
                <span ng-bind-html="passwordError"></span>
            </div>

            <p class="padding" style="color: red">{{ errors }}</p>

            <div class="nameDiv">
                <input class="btn btn-primary" id="submit" type="submit" value="Log In">
            </div>
        </form>

    </div>

{#    {% verbatim %}#}
{#        <pre>#}
{#            {{ form.$valid |json }}#}
{#        </pre>#}
{#    {% endverbatim %}#}
</div>
</body>
</html>