{% load staticfiles %}
<html ng-app="signup">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    {% load static %}
    {% load filters %}
    {% include "libs.html" %}

    <script type="text/javascript" src="{% static "js/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-animate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-sanitize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-dumanov-basic.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/angular-dumanov-validation.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-2.1.4.js" %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static "css/common-style.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/signup.css" %}">

    <script type="text/javascript" src="{% static "js/signup.js" %}"></script>
</head>
<body ng-controller="SignUpCtrl">


{% load i18n %}
{##}
{#    <p>{% trans "Welcome to our page" %}</p>#}
{##}
{#{% language 'ru' %}#}
{#    {% get_current_language as LANGUAGE_CODE %}#}
{#    <p>{% trans "Welcome to our page" %}</p>#}
{#{% endlanguage %}#}

{#<p>{% trans "Welcome to our page" %}</p>#}
{##}
{#{% language 'ru' %}#}
{#    <p>{% trans "Welcome to our page" %}</p>#}
{#{% endlanguage %}#}

<div class="mainDiv">
    <div class="whyYouChooseUs"></div>

    <div class="col-xs-12 col-sm-6">

        <!-- Pull up header-3, get low header; Do smth with button-->
        <h2 class="header padding">START USING FINSTATEMENT TODAY</h2>
        <h3 class="header-3 padding">Get started in seconds. No credit card required.</h3>

        {#        <form id="form" name="newUser" action="signup" method="post" ng-click="isFormValid()" ng-submit="sendPost()">#}
        <form id="form" name="newUser" ng-submit="sendPost()" method="post">
            {% csrf_token %}
            <div class="nameDiv padding">
                <input type="text"
                       class="form-control"
                       id="first-name"
                       name="firstName"
                       placeholder="First Name"
                       ng-model="firstName"
                >
            </div>
            <div class=" padding">
                <input type="text" class="form-control" id="Email" name="email" placeholder="Email" ng-model="email"
                >
            </div>
            {#            <div class=" padding">#}
            {#                <input type="text" class="form-control" id="re-Email" name="reEmail" placeholder="Re-enter email"#}
            {#                       ng-model="reEmail" >#}
            {#            </div>#}
            <div class=" padding">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                       ng-model="password">
            </div>

            <div id="validationErrors"
                 class="alert alert-warning padding validationHeader"
                 role="alert"
                 ng-bind-html="validationErrors"
                 hidden></div>

            <input class="btn btn-primary" id="submit" type="submit" value="Sign up" ng-click="isFormValid()">

        </form>
    </div>

</div>
{#<div><pre>{% verbatim %}{{ newUser.password.$modelValue | json }}{% endverbatim %}</pre></div>#}
</body>
</html>