span#folder-icon {
    font-size: 2em;
}

div#header-menu {
    display: inline;
}

input#search-input {
    width: 200px;
    position: absolute;
    margin-top: 10px;
}

form#search-form {
    margin-right: 0px;
    display: none;
}

input#search-field {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 3px;
    width: 200px;
}

hr#tools-statements {
    margin: 0px;
}

form#search-form-mobile {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
}

div#statements {
    margin-top: 17px;
    padding-right: 10px;
    padding-left: 10px;
}

.statement {
    width: 94%;
    padding-left: 20px;
    margin-left: 31px;
    background-color: #f9f9f9;
}

.statement-border {
    border-bottom: 1px solid #dcdcdc;
}

.folder {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #b4b4b4;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    border-radius: 5px;
}

.folder:hover {
    /*background-color: #f1f1f1;*/
    border-color: #2fa3ff;
}

.folder-name {
    font-size: 19px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 0px;
}

.border-bottom-folder {
    border-bottom: 1px solid #e0e0e0;
}

div#multibar {
    height: 300px;
    border: 1px solid #0f0f0f;
}

.date-field {

}

.statement-link {
    color: black;
}

.statement-link:hover {
    color: #2fa3ff;
}

.statement-p {
    border-bottom: 1px solid #d4d4d4;
    margin-left: 25px;
    cursor: pointer;
}

.statement-p:hover {
    text-decoration: underline;
    color: #2fa3ff;
}

div p:last-child {
    border: none;
}

.folder-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

#types {
    margin: 0 auto;
    padding-top: 15px;
}

.name {
    margin-top: 4px;
    margin-bottom: 4px;
}

#description {
    margin-right: 15px;
}

#access-type {
    padding-right: 30px;
}

#description-label {
    padding-top: 15px;
}

#create {
    font-size: 18px;
}

#form-head {
    height: 60px;
    margin-bottom: 35px;
}

.type {
    margin-top: 15px;
}

div#description-div {
    padding: 15px;
}

hr#header-footer {
    width: 95%;
}

select {
    border-radius: 5px;
    padding-right: 10px;
}

body {
    background-color: #f2f2f2;
}

div#header {
    color: white;
    background-color: #2fa3ff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.display-none {
    display: none;
}

.header-statement {
    margin-bottom: 0px;
}

.statement-section {
    background-color: white;
    padding: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.statement-row {
    padding-top: 5px;
}

.statement-section > .statement-row:last-child {
    border: 1px solid #d5d5d5;
}

.padding-statement {
    padding-left: 20px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-top-bottom-4 {
    padding-top: 4px;
    padding-bottom: 4px;

}

.zero-padding {
    padding: 0px;
}

.flex {
    display: flex;
}

.zero-margin {
    padding: 0px;
}

.zero-margin-top {
    margin-top: 0px;
}

.cash-cell {
    font-size: 16px;
    width: 80px;
    text-align: right;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 21px;
    padding-right: 3px;
    padding-left: 3px;
}

.control-menu {
    top: 7px;
    right: 1px;
    border-radius: 0px !important;
    border-right-width: 0px;
}

.currency {
    margin-right: 3px;
}

.margin-right-4 {
    margin-right: 4px;
}

.checkbox-cell {
    display: inline-block;
    width: 15px;
}

.total {
    background-color: rgba(122, 122, 122, 0.03);
}

.flex {
    display: flex;
}

hr {
    margin: 0;
    margin-left: 10px;
    border-left: 1px solid #d5d5d5;
}

.footer > hr:last-child {
    display: none;
}

span {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

body {
    font-size: 16px;
    background-color: rgb(241, 241, 241);
}

div#statement {
    background-color: white;
}

.footer {
    height: 215px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-background-origin: border-box;
    border-right: 1px solid #d5d5d5;
    background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background-color: #d6d6d6;
}

.h3-size {
    font-size: 21px;
}

span#income-menu {
    margin-right: 18px;
    margin-top: 8px;
    font-size: 22px;
}

a, span#income-menu:hover, label:hover {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 0;
    margin-right: 0;
}

.value {
    font-weight: bold;
}

form#add-form div {
    height: 36px;
    margin-bottom: 10px;
}

form#add-form > div:last-child {
    height: 36px;
    margin-bottom: 0px;
}

form#add-form > div > label {
    padding-top: 6px;
}

.b-primary {
    background-image: none;
    background-color: #3396e5;
    border: 1px solid #3184c8;
}

.b-default {
    background-image: none;
    opacity: 1;
}

.b-alert {
    background-image: none;
    background-color: #e8e8e8;
}

.b {
    width: 75px;
}

form#add-form {
    margin-top: 10px;
    margin-bottom: 0px;
}

.alrt {
    color: red;
}

div#footer {
    border-left: 1px solid #d5d5d5;
}

div[id$="-delete-section"] {
    width: 156px;
    margin-top: 4px;
    margin-right: 10px;
    display: none;
}

.children {
    margin-left: 30px !important;
}

.children + hr {
    margin-left: 40px;
}

.padding-margin-left-zero {
    padding-left: 0;
    margin-left: 0;
}

.padding-margin-right-zero {
    padding-right: 0;
    margin-right: 0;
}

span.group-caret {
    margin-left: 6px;
    margin-top: 2px;
}

#filter_mobile {
    display: none
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}

html {
    font-size: 100%;
}

@media (min-width: 60em) {
    html {
        font-size: 100%
    }
}

.th {
    background-color: #2fa3ff;
    color: white;
}

span > a.paginate_button {
    color: #337ab7 !important;
    margin: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;;
}

span > a.current {
    background: none;
    text-decoration: underline;
    border: none;
}

div#cash-flow-move-table_info, div#cash-flow-move-table_paginate {
    font-size: 14px;
}

a.previous, a.next {
    margin: 0px;
}

.inpt-search {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    width: 200px;
    height: 34px;
}

div#cash-flow-move-table_filter {
    display: none !important;
}

.round {
    border-radius: 100px;
}

.bordered {
    background-color: white;
}

div#cash-flow-move-table_info {
    margin-left: 12px;
}

g > text {
    font-size: 12px;
    fill: #666 !important;
}

div#dashboard {
    padding-bottom: 20px;
    background-color: white;
}

div.btn-triangle {
    background: #2fa3ff;
    border: none;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    position: relative;
    text-decoration: none;
    width: inherit;
    padding-right: 5px;
    padding-left: 5px;
}

div.btn-triangle:first-child {
    padding-left: 0px;
}

div.btn-triangle:before {
    background: #2fa3ff;
    border-top: 1px solid white;
    border-right: 1px solid white;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    top: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 21px;
}

div.btn-triangle button {
    color: #fff;
    background: none;
    border: none;
    position: relative;
    height: 28px;
    padding-left: 20px;
    padding-right: 7px;
    font-weight: bold;
}

div.btn-triangle:first-child button {
    padding-left: 15px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: -5px;
    left: 100%;
    margin-top: -1px;
}

div#content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 990px;
}

div#cash-flow-statement {
    margin-top: 10px;
    overflow: auto;
    padding: 0;
}

div#cash-flow-move {
    padding: 0;
    margin-top: 30px
}

table#cash-flow-move-table {
    margin: 0 !important;
}

div#income-root {
    padding-right: 10px;
    padding-bottom: 10px
}

div#expenses-root {
    padding-left: 10px;
    padding-bottom: 10px
}

div#assets-root {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}

div#liabilities-root {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}

div#charts {
    background-color: white;
    padding: 0;
    margin-top: 20px;
    min-height: 373px;
}

@media (max-width: 767px) {
    [id$="-root"] {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    div#statement div.statement-section {
        margin-bottom: 20px !important;
    }

    div.statement div.statement-section:last-child {
        margin-bottom: 10px !important;
    }

    div#cash-flow-statement {
        margin-top: 40px;
    }

    div#charts {
        margin-top: 10px;
    }
}

div#charts, div#cash-flow-move {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

div#statement-info {
    position: fixed;
    z-index: 4;
    background-color: white;
    bottom: 0px;
    right: 0px;
}

.monthpicker_input {
    height: 20px !important;
    padding: 1px 0px !important;;
    border: none !important;
    border-bottom: 2px inset rgb(51, 51, 51) !important;
    background-color: white !important;
    text-align: center !important;
    color: inherit !important;
    width: 80px !important;
}

.monthpicker {
    padding-left: 5px;
    width: 80px !important;
}

div#info-mobile {
    position: fixed;
    top: 50px;
    background-color: white;
    padding-top: 10px;
    z-index: 5;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #d2d0d0;
    left: inherit;
}

body::-webkit-scrollbar {
    width: 12px;
    border-left: 1px solid #EEE;
    background-color: white;
}

div[id^='navdrop-'] {
    border-top: 1px solid white;
}

thead > tr > th:last-child:after {
    display: none !important;
}

.google-visualization-controls-rangefilter > label {
    display: none !important;
}

div.charts-inline-block {
    text-align: center;
}

div#filter {
    height: inherit !important;
    width: 552px;
    display: block;
    margin: auto;
    font-size: 14px !important;
}

div#filter > div.google-visualization-controls-rangefilter {
    width: 552px;
    margin: 0 !important;
    font-size: 14px !important;
    text-align: center;
}

div.google-visualization-controls-slider-horizontal {
    width: 400px
}

@media (max-width: 600px) {
    div.google-visualization-controls-slider-horizontal {
        width: 200px;
    }

    div#filter, div#filter > div.google-visualization-controls-rangefilter {
        width: 400px;
    }

    @media (max-width: 400px) {
        div.google-visualization-controls-slider-horizontal {
            width: 100px;
        }

        div#filter, div#filter > div.google-visualization-controls-rangefilter {
            width: 300px;
        }
    }
}

@media (min-width: 600px) {
    div.google-visualization-controls-slider-horizontal {
        width: 300px
    }

    div#filter, div#filter > div.google-visualization-controls-rangefilter {
        width: 500px;
    }
}

div.ui-datepicker-div span {
    font-size: 14px !important;
}

.form-control {
    font-size: 16px !important;
}

div#income {
    z-index: 3;
}

ul[id$="-dropmenu"] {
    min-width: 0 !important;
    border-radius: 0 !important;
    margin-top: 0;
}

div#buttons {
    top: 30px;
    position: relative;
}

.charts-colors {
    color: #3c6eff;
    color: #e22515;
    color: #01ff00;
    color: #e49307;
    color: #43459d;
}

