<form id="balance-sheet" name="balance-sheet">
    <p id="header">Balance Sheet</p>

    <div id="assets">
        <div id="assets-header">
            <p class="pull-left">Assets</p>
            <p class="pull-right"></p>
        </div>
    </div>
</form>