<script src="../static/js/jquery-3.1.1.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/bootstrap-theme.css">
<link rel="stylesheet" href="../static/css/data-tables.min.css">
<link href="../static/css/monthpicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/css/data-tables.bootstrap.min.css">
<link rel="stylesheet" href="../static/css/responsive.bootstrap.min.css">

<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/label-input.js"></script>

<script src="../static/js/jquery-ui.min.js" defer async></script>

<script>
    document.write("<script src='../static/js/jsapi.js'>" + "<" + "/script>")
</script>

<script type="text/javascript" src="../static/js/charts-loader.js"></script>

<script type="text/javascript" src="../static/js/data-tables.min.js"></script>
<script type="text/javascript" src="../static/js/data-tables.responsive.min.js"></script>
<script type="text/javascript" src="../static/js/responsive.bootstrap.min.js"></script>
<script src="../static/js/monthpicker.min.js"></script>


<div class="col-xs-12">

        <span>Statement for </span>

        <div class="pull-right col-xs-6" style="height: 32px; display: inline">
            <div>
                <input id="demo-1" type="text">
                <script>$('#demo-1').Monthpicker();</script>
            </div>
        </div>
        <hr>
        <span>Cash:</span>
        <span class="pull-right"><span class="currency">$</span>3000</span>
        <hr>

</div>

<form id="cash-flow-statement" class="col-xs-12" name="cash-flow-statement" method="get"
      style="margin-top: 30px ;overflow: auto">
    <div id="statement">
        <div class="col-sm-6 zero-padding" style="padding-right: 10px; padding-bottom: 10px">
            <div id="income" class="col-xs-12  statement-section">

                <div id="header" style="background-color: #2fa3ff; color: white">
                    <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Income</span>

                    <div id="income-delete-section" class="pull-right">
                        <button class="btn btn-default b-alert b">Delete</button>
                        <button class="btn btn-default b-default b"
                                onclick="cancelDeleteRows('income'); return false">
                            Cancel
                        </button>
                    </div>

                    <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                          id="income-menu"
                          data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                          onmouseover="this.style.cursor = 'pointer'"></span>
                    <ul class="dropdown-menu pull-right control-menu">
                        <li><a onclick="setModalName('add','Income')" data-toggle="modal" data-target="#add-modal">Add
                            Row</a></li>
                        <li><a onclick="deleteRows('income')">Delete Row</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Line Chart</a></li>
                        <li><a href="#">Pie Chart</a></li>
                    </ul>
                </div>

                <div id="footer" class="footer">
                    <div class="statement-row group" id="">

                        <div class="checkbox-cell">
                            <span class="caret group-caret"></span>
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Salary</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="salary" class="zero-margin margin-right-4">1000</label>
                            <input id="salary" name="salary" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>

                    <hr>
                    <div class="statement-row children" id="">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Deposit</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="deposit" class="zero-margin margin-right-4">1000</label>
                            <input id="deposit" name="deposit" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 1</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments1" class="zero-margin margin-right-4">2000</label>
                            <input id="investments1" name="investments1" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 2</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments2" class="zero-margin margin-right-4">2000</label>
                            <input id="investments2" name="investments2" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 3</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments3" class="zero-margin margin-right-4">2000</label>
                            <input id="investments3" name="investments3" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 4</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments4" class="zero-margin margin-right-4">2000</label>
                            <input id="investments4" name="investments4" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                </div>

                <div class="statement-row total">
                    <span class="currency padding-statement border-element"><b>Total:</b></span>
                    <div class="pull-right padding-statement flex padding-right-20">
                        <span class="currency">$</span>
                        <span class="zero-margin margin-right-4"><b id="income-total">4,000</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 zero-padding" style="padding-left: 10px; padding-bottom: 10px">
            <div id="expenses" class="col-xs-12 statement-section">

                <div id="header" style="background-color: #2fa3ff; color: white">
                    <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Expenses</span>

                    <div id="expenses-delete-section" class="pull-right">
                        <button class="btn btn-default b-alert b">Delete</button>
                        <button class="btn btn-default b-default b"
                                onclick="cancelDeleteRows('expenses'); return false">
                            Cancel
                        </button>
                    </div>

                    <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                          id="expenses-menu"
                          data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                          onmouseover="this.style.cursor = 'pointer'"></span>
                    <ul class="dropdown-menu pull-right control-menu">
                        <li><a onclick="setModalName('add','expenses')" data-toggle="modal"
                               data-target="#add-modal">Add
                            Row</a></li>
                        <li><a onclick="deleteRows('expenses')">Delete Row</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Line Chart</a></li>
                        <li><a href="#">Pie Chart</a></li>
                    </ul>
                </div>

                <div id="footer" class="footer">
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Salary</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="salary" class="zero-margin margin-right-4">1000</label>
                            <input id="salary" name="salary" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>

                    <hr>
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Deposit</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="deposit" class="zero-margin margin-right-4">1000</label>
                            <input id="deposit" name="deposit" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 1</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments1" class="zero-margin margin-right-4">2000</label>
                            <input id="investments1" name="investments1" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 2</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments2" class="zero-margin margin-right-4">2000</label>
                            <input id="investments2" name="investments2" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 3</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments3" class="zero-margin margin-right-4">2000</label>
                            <input id="investments3" name="investments3" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 4</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments4" class="zero-margin margin-right-4">2000</label>
                            <input id="investments4" name="investments4" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                </div>

                <div class="statement-row total">
                    <span class="currency padding-statement border-element"><b>Total:</b></span>
                    <div class="pull-right padding-statement flex padding-right-20">
                        <span class="currency">$</span>
                        <span class="zero-margin margin-right-4"><b id="expenses-total">4,000</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 zero-padding" style="padding-right: 10px; padding-top: 10px">
            <div id="assets" class="col-xs-12 statement-section">

                <div id="header" style="background-color: #2fa3ff; color: white">
                    <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Assets</span>

                    <div id="expenses-delete-section" class="pull-right">
                        <button class="btn btn-default b-alert b">Delete</button>
                        <button class="btn btn-default b-default b"
                                onclick="cancelDeleteRows('expenses'); return false">
                            Cancel
                        </button>
                    </div>

                    <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                          id="expenses-menu"
                          data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                          onmouseover="this.style.cursor = 'pointer'"></span>
                    <ul class="dropdown-menu pull-right control-menu">
                        <li><a onclick="setModalName('add','expenses')" data-toggle="modal"
                               data-target="#add-modal">Add
                            Row</a></li>
                        <li><a onclick="deleteRows('expenses')">Delete Row</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Line Chart</a></li>
                        <li><a href="#">Pie Chart</a></li>
                    </ul>
                </div>

                <div id="footer" class="footer">
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Salary</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="salary" class="zero-margin margin-right-4">1000</label>
                            <input id="salary" name="salary" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>

                    <hr>
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Deposit</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="deposit" class="zero-margin margin-right-4">1000</label>
                            <input id="deposit" name="deposit" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 1</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments1" class="zero-margin margin-right-4">2000</label>
                            <input id="investments1" name="investments1" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 2</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments2" class="zero-margin margin-right-4">2000</label>
                            <input id="investments2" name="investments2" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 3</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments3" class="zero-margin margin-right-4">2000</label>
                            <input id="investments3" name="investments3" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 4</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments4" class="zero-margin margin-right-4">2000</label>
                            <input id="investments4" name="investments4" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                </div>

                <div class="statement-row total">
                    <span class="currency padding-statement border-element"><b>Total:</b></span>
                    <div class="pull-right padding-statement flex padding-right-20">
                        <span class="currency">$</span>
                        <span class="zero-margin margin-right-4"><b id="assets-total">4,000</b></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 zero-padding" style="padding-left: 10px; padding-top: 10px">
            <div id="liabilities" class="col-xs-12  statement-section">

                <div id="header" style="background-color: #2fa3ff; color: white">
                    <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Liabilities</span>

                    <div id="expenses-delete-section" class="pull-right">
                        <button class="btn btn-default b-alert b">Delete</button>
                        <button class="btn btn-default b-default b"
                                onclick="cancelDeleteRows('expenses'); return false">
                            Cancel
                        </button>
                    </div>

                    <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                          id="expenses-menu"
                          data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                          onmouseover="this.style.cursor = 'pointer'"></span>
                    <ul class="dropdown-menu pull-right control-menu">
                        <li><a onclick="setModalName('add','expenses')" data-toggle="modal"
                               data-target="#add-modal">Add
                            Row</a></li>
                        <li><a onclick="deleteRows('expenses')">Delete Row</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Line Chart</a></li>
                        <li><a href="#">Pie Chart</a></li>
                    </ul>
                </div>

                <div id="footer" class="footer">
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Salary</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="salary" class="zero-margin margin-right-4">1000</label>
                            <input id="salary" name="salary" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>

                    <hr>
                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Deposit</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="deposit" class="zero-margin margin-right-4">1000</label>
                            <input id="deposit" name="deposit" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 1</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments1" class="zero-margin margin-right-4">2000</label>
                            <input id="investments1" name="investments1" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 2</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments2" class="zero-margin margin-right-4">2000</label>
                            <input id="investments2" name="investments2" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 3</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments3" class="zero-margin margin-right-4">2000</label>
                            <input id="investments3" name="investments3" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                    <hr>

                    <div class="statement-row">

                        <div class="checkbox-cell">
                        </div>

                        <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">Investments 4</span>
                        <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                            <span class="currency">$</span>
                            <label id="investments4" class="zero-margin margin-right-4">2000</label>
                            <input id="investments4" name="investments4" type="text"
                                   class="display-none cash-cell form-control value">
                        </div>
                    </div>
                </div>

                <div class="statement-row total">
                    <span class="currency padding-statement border-element"><b>Total:</b></span>
                    <div class="pull-right padding-statement flex padding-right-20">
                        <span class="currency">$</span>
                        <span class="zero-margin margin-right-4"><b id="liabilities-total">4,000</b></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<div style="background-color: white">
    <div class="btn-group inline" role="group" aria-label="..." style="margin-top: 10px">

        <div id="navdrop-first" class="btn-group btn-triangle col-xs-4 dropdown" role="group" style="z-index: 3">
            <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Liabilities
            </button>
            <ul id="first-level-dropmenu" class="dropdown-menu">
                <li><a tabindex="-1">Dropdown link</a></li>
                <li><a tabindex="-1">Dropdown link</a></li>
                <li class="dropdown-submenu">
                    <a class="dropdown-second-level">Another dropdown <span class="caret"
                                                                            style="transform: rotate(-90deg) "></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">3rd level dropdown</a></li>
                        <li><a href="#">3rd level dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="navdrop-second" class="btn-group btn-triangle col-xs-4" role="group" style="z-index: 2">
            <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Loans
            </button>
            <ul id="first-level-dropmenu" class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>

        <div id="navdrop-third" class="btn-group btn-triangle col-xs-4" role="group">
            <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Loans on Property
            </button>
            <ul id="first-level-dropmenu" class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>
    </div>

    <div id="dashboard">
        <div id="chart"></div>
        <div id="filter" style="height: 50px;"></div>
        <div id="filter_mobile"></div>
    </div>
    <script type="text/javascript">
        var data = [[new Date(2001, 0, 5), 38835, 22020], [new Date(2001, 0, 11), 350960, 1000], [new Date(2001, 0, 12), 39318, 2323], [new Date(2001, 0, 29), 37192, 2323]];

        google.load('visualization', '1.0', {'packages': ['corechart', 'controls']});
        google.setOnLoadCallback(apiLoaded);
        var controLWrapper;
        function apiLoaded() {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn('date', "Offense Date");
            dataTable.addColumn('number', "All Offensssssssssssssssssses");
            dataTable.addColumn('number', "All Offensess2");
            dataTable.addRows(data);

            controlWrapper = new google.visualization.ControlWrapper({
                controlType: 'ChartRangeFilter',
                containerId: 'filter',
                state: {
                    range: {
                        //start: new Date(2009, 0, 1),
                        //end: new Date(2013, 0, 1)
                    }
                },
                options: {
                    filterColumnIndex: 0,
                    height: '85%',
                    ui: {
                        chartType: 'LineChart',
                        chartOptions: {
                            chartArea: {
                                left: 70,
                                right: 50,
                                width: "100%",
                                height: '50'
                            },
                            hAxis: {
                                format: 'M/d/yyyy',
                                baselineColor: 'none'
                            }
                        },
                        // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                        minRangeSize: 86400000
                    }
                }
            })
            ;

            var chartWrapper = new google.visualization.ChartWrapper({
                chartType: 'LineChart',
                containerId: 'chart',


                options: {
                    height: 300,
                    chartArea: {
                        left: 70,
                        right: 50,
                        width: "100%",
                        top: 30
                    },
                    legend: 'bottom',
                    hAxis: {
                        format: 'M/d/yyyy',
                        maxTextLines: 15,
                        minTextSpacing: 100
                    },
                    vAxis: {
                        format: 'short',
                        minValue: 0
                    },
                    animation: {
                        duration: 500,
                        easing: 'out'
                    }
                }
            });

            var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));
            dashboard
                    .bind(controlWrapper, chartWrapper)
                    .draw(dataTable);
        }

        $(document).ready(function () {
            $('.dropdown-submenu a.dropdown-second-level').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>
</div>

<div class="bordered">
    <div class="pull-right inpt-search" style="display: none;">
        <span id="search" class="glyphicon glyphicon-zoom-in pull-right" style="font-size: 2em"></span>
        <input type="text" id="search" class="form-control pull-right round" placeholder="Search..." autofocus
               style="display: none">
    </div>
    <script>

        var flag = false;
        $('span#search').click(function () {
            $('span#search').hide();
            $('input#search').show('slow');
            flag = true;
        })

        /*$('body:not(div.inpt-search), body:not(input#search), body:not(span#search) ,body:not(div#cash-flow-move-table)').click(function () {
         $('body:not(div.inpt-search), div.inpt-search > *').click(function () {
         if (!flag) {
         $('input#search').hide();
         $('span#search').show('slow')
         }
         })*/
    </script>

    <div id="cash-flow-move-table">
        <table id="cash-flow-move-table" class="table table-striped table-bordered dt-responsive nowrap"></table>
    </div>
    <script>
        var table = 'table#cash-flow-move-table';
        var rowNames = ['Name', 'Section', 'Group', 'Record Date', 'Value'];
        var dataTable = [
            ['Salary', 'Income', '', '2007/1/1', '-300000000'],
            ['Salary1', 'Income', '', '2017/5/1', '2000']

        ];

        var t = '';

        t += '<thead>';
        t += '\n\t<tr>';
        rowNames.forEach(function (name) {
            t += "\n\t\t<th class='th'>" + name + '</th>'
        });
        t += '\n\t</tr>';
        t += '</thead>';
        t += '<tbody>';
        dataTable.forEach(function (row) {
            t += "\n<tr>";

            var i = 0;
            row.forEach(function (cell) {
                ++i;
                if (i == 5) {

                    if (cell < 0) {
                        cell = numberWithCommas(cell)
                        t += '\n\t\t<td style=\"color: red\">' + cell + '</td>';
                    } else {
                        cell = numberWithCommas(cell)
                        t += '\n\t\t<td style=\"color: green\">' + cell + '</td>';
                    }
                } else {
                    t += '\n\t\t<td>' + cell + '</td>';
                }
            });

            t += '\n</tr>'
        });
        t += '</tbody>';

        c(t);

        c($(table).html(t));

        $(document).ready(function () {
            var tb = $(table).DataTable({
                        "lengthChange": false,
                        "pageLength": 10,
                        "autoWidth": false,
                        "formatNumber": function (toFormat) {
                            return toFormat.toString().replace(
                                    /\B(?=(\d{3})+(?!\d))/g, "'"
                            );
                        },
                        "columnDefs": [{
                            "targets": 1,
                            "render": function (data, type, full, meta) {
                                return '<a href="#income">' + data + '</a>';
                            }
                        }]
                    })
                    ;

            $('input#search').keyup(function () {
                tb.search($(this).val()).draw();
            });
        });

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });
    </script>

</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center"></h4>
            </div>
            <div class="modal-body" style="height: 315px;">

                <form id="add-form" name="add-form" class="form" method="post" action="add"
                      onsubmit="addIncome()">
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="name">Name:<span
                                id="name-error" class="alrt">*</span></label>
                        <div class="col-sm-6 col-xs-8">
                            <input type="text" class="form-control" id="name" name="name" maxlength="15" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="value">Value:<span
                                id="value-error" class="alrt">*</span></label>
                        <div class="col-sm-6 col-xs-8">
                            <input type="number" class="form-control" id="value" name="value"
                                   onkeydown="validateNumber(event)" min="1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label  col-sm-offset-2 col-sm-2 col-xs-4" for="currency">Currency:</label>
                        <div class="col-sm-6 col-xs-8">
                            <select class="form-control" id="currency" name="currency" required></select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="date">Date:</label>
                        <div class="col-sm-6 col-xs-8">
                            <input type="date" class="form-control" id="date" name="date" onkeypress="return false;"
                                   onpaste="return false;" required>
                        </div>
                        <!--<div class="flex" onclick=" $('#add-date').datepicker().data('datepicker').show()">
                            <input type='text' class='datepicker-here form-control' id="add-date"
                                   onpaste="javascript:return false;" onkeypress="return false" style="width: 70%"/>
                            <button type="btn " style="width: 30%" href="#" disabled><span class="glyphicon glyphicon-calendar"></span></button>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="rhythm">Group:</label>
                        <div class="col-sm-6 col-xs-8">
                            <select class="form-control" id="group" name="group" required>
                                <option value="once">none</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="rhythm">Rhythm:</label>
                        <div class="col-sm-6 col-xs-8">
                            <select class="form-control" id="rhythm" name="rhythm" required>
                                <option value="once">Once</option>
                                <option value="day">Every day</option>
                                <option value="week">Every week</option>
                                <option value="month">Every month</option>
                                <option value="year">Every year</option>
                            </select>
                        </div>
                    </div>

                    <div align="center" style="top: 30px; position: relative;">
                        <button type="submit" class="btn btn-primary b-primary b">Save
                        </button>
                        <button type="reset" class="btn btn-default b-default b" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>


            <div class="modal-footer" style="height: 64px">

            </div>
        </div>

    </div>
</div>

<!--check values before SAVE!-->
<script>
    var labelInput = new LabelInput('income', ['salary', 'deposit', 'investments1', 'investments2', 'investments3', 'investments4'])
    var labelInput1 = new LabelInput('expenses', ['salary', 'deposit', 'investments1', 'investments2', 'investments3', 'investments4'])
    var labelInput2 = new LabelInput('assets', ['salary', 'deposit', 'investments1', 'investments2', 'investments3', 'investments4'])
    var labelInput3 = new LabelInput('liabilities', ['salary', 'deposit', 'investments1', 'investments2', 'investments3', 'investments4'])


    $(window).resize(function () {
        if (this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function () {
            $(this).trigger('resizeEnd');
        }, 500);
    });

    $(window).on('resizeEnd', function () {
        apiLoaded();
    });
</script>

<style>
    div#header {
        color: white;
        background-color: #2fa3ff;
    }

    .display-none {
        display: none;
    }

    .header-statement {
        margin-bottom: 0px;
    }

    .statement-section {
        background-color: white;
        padding: 0 !important;
    }

    .statement-row {
        padding-top: 5px;
    }

    .statement-section > .statement-row:last-child {
        border: 1px solid #d5d5d5;
    }

    .padding-statement {
        padding-left: 20px;
        padding-right: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .padding-right-20 {
        padding-right: 20px;
    }

    .padding-left-0 {
        padding-left: 0px;
    }

    .padding-top-bottom-4 {
        padding-top: 4px;
        padding-bottom: 4px;

    }

    .zero-padding {
        padding: 0px;
    }

    .flex {
        display: flex;
    }

    .zero-margin {
        padding: 0px;
    }

    .zero-margin-top {
        margin-top: 0px;
    }

    .cash-cell {
        font-size: 16px;
        width: 80px;
        text-align: right;
        padding-bottom: 0px;
        padding-top: 0px;
        height: 21px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .control-menu {
        top: 7px;
        right: 0px;
        border-right-width: 0px;
    }

    .currency {
        margin-right: 3px;
    }

    .margin-right-4 {
        margin-right: 4px;
    }

    .checkbox-cell {
        display: inline-block;
        width: 15px;
    }

    .total {
        background-color: rgba(122, 122, 122, 0.03);
    }

    .flex {
        display: flex;
    }

    hr {
        margin: 0;
        margin-left: 10px;
        border-left: 1px solid #d5d5d5;
    }

    .footer > hr:last-child {
        display: none;
    }

    span {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
    }

    body {
        font-size: 16px;
        background-color: #f2f2f2;
    }

    div#statement {
        background-color: white;
    }

    .footer {
        height: 214px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-background-origin: border-box;
        border-right: 1px solid #d5d5d5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d6d6d6;
    }

    .h3-size {
        font-size: 24px;
    }

    span#income-menu {
        margin-right: 18px;
        margin-top: 8px;
        font-size: 22px;
    }

    a, span#income-menu:hover, label:hover {
        cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin-left: 0;
        margin-right: 0;
    }

    .value {
        font-weight: bold;
    }

    form#add-form > div {
        height: 36px;
        margin-bottom: 10px;
    }

    form#add-form > div:last-child {
        height: 36px;
        margin-bottom: 0px;
    }

    form#add-form > div > label {
        padding-top: 5px;
    }

    .b-primary {
        background-image: none;
        background-color: #3396e5;
        border: 1px solid #3184c8;
    }

    .b-default {
        background-image: none;
        opacity: 1;
    }

    .b-alert {
        background-image: none;
        background-color: #e8e8e8;
    }

    .b {
        width: 75px;
    }

    form#add-form {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .alrt {
        color: red;
    }

    div#footer {
        border-left: 1px solid #d5d5d5;
    }

    div[id$="-delete-section"] {
        width: 156px;
        margin-top: 4px;
        margin-right: 10px;
        display: none;
    }

    div.children {
        margin-left: 30px;
    }

    div.children + hr {
        margin-left: 40px;
    }

    .padding-margin-left-zero {
        padding-left: 0;
        margin-left: 0;
    }

    .padding-margin-right-zero {
        padding-right: 0;
        margin-right: 0;
    }

    span.group-caret {
        margin-left: 6px;
        margin-top: 2px;
    }

    #filter_mobile {
        display: none
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 100;
    }

    div#cash-flow-move-table {
        margin-top: 30px;
    }

    html {
        font-size: 100%;
    }

    @media (min-width: 60em) {
        html {
            font-size: 100%
        }
    }

    .th {
        background-color: #2fa3ff;
        color: white;
    }

    span > a.paginate_button {
        color: #337ab7 !important;
        margin: 0;
        padding-left: 10px !important;
        padding-right: 10px !important;;
    }

    span > a.current {
        background: none;
        text-decoration: underline;
        border: none;
    }

    div#cash-flow-move-table_info, div#cash-flow-move-table_paginate {
        font-size: 14px;
    }

    a.previous, a.next {
        margin: 0px;
    }

    .inpt-search {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        position: relative;
        width: 200px;
        height: 34px;
    }

    div#cash-flow-move-table_filter {
        display: none !important;
    }

    .round {
        border-radius: 100px;
    }

    .bordered {
        background-color: white;
    }

    div#cash-flow-move-table_info {
        margin-left: 12px;
    }

    g > text {
        font-size: 12px;
        fill: #666 !important;
    }

    div#dashboard {
        padding-bottom: 30px;
        background-color: white;
    }

    div.btn-triangle {
        background: #2fa3ff;
        border: none;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        position: relative;
        text-decoration: none;
        width: inherit;
        padding-right: 5px;
        padding-left: 5px;
    }

    div.btn-triangle:first-child {
        padding-left: 0px;
    }

    div.btn-triangle:before {
        background: #2fa3ff;
        border-top: 1px solid white;
        border-right: 1px solid white;
        content: '';
        display: block;
        height: 20px;
        position: absolute;
        top: 4px;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 21px;
    }

    div.btn-triangle button {
        color: #fff;
        background: none;
        border: none;
        position: relative;
        height: 28px;
        padding-left: 20px;
        padding-right: 7px;
        font-weight: bold;
    }

    div.btn-triangle:first-child button {
        padding-left: 15px;
    }

    .btn-group.open .dropdown-toggle {
        box-shadow: none;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: -5px;
        left: 100%;
        margin-top: -1px;
    }
</style>

<script>
    var indexes = ['first', 'second', 'third'];
    var prefix = "navdrop-";

    var width = 0;
    indexes.forEach(function (index) {
        var item = 'div#' + prefix + index;

        width = $(item).css('width')
        width = parseInt(width)
        width -= 10;
        $('head').append('<style>' + item + ':before{left:' + width + 'px !important;}</style>');
    });

</script>