.header {
    margin-bottom: 0px;
}
.header-3 {
    margin-top: 0px;
    margin-bottom: 15px;
}
.nameInput{
    width: 47.5%;
}
.nameLeftInput{
    margin-right: 5%;
}
.nameDiv{
    display: block;
}
.validationHeader {
    background: #fa3e3e;
    border-radius: 0px;
    border-color: #fa3e3e;
    color: white;
}
.padding{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

input#submit {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
