h3 {
    font-size: 18px;
}

body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

label {
    font-weight: normal;
}

.form-control {
    font-size: 18px;
}

.invalidInput {
    /*background: url(../img/invalid-input.png)*/
}

.transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.input-circle {
    border-radius: 50px;
}

.caret-button {
    border-radius: 20px;
    width: 22px;
    padding: 0px;
    margin-right: 15px;
    margin-top: 7px;
}

.margin-left-zero {
    margin-left: 0;
}
.padding-left-zero {
    padding-left: 0;
}
.margin-right-zero {
    margin-left: 0;
}

