.img-circle {
    border-radius: 50%;
}

.margin-right-left-body {
    margin-right: 10%;
    margin-left: 10%;
}

.padding-right-left-body {
    padding-right: 10%;
    padding-left: 10%;
}

.nav-button {
    margin: 10px;
}

.zero-margin {
    margin: 0px;
}

img#avatar {
    height: 40px;
    margin-top: 10px;
    border: 1px solid #bdb6b6;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

li#avatar:hover {
    background-color: #2d95ea !important;
    cursor: pointer;
}

.margin-right-left {
    margin-right: 10px;
    margin-left: 10px
}

.zero-padding {
    padding: 0px;
}

button#upgrade-button {
    background-image: none;
    height: 40px;
    background-color: #ffa022;
    border-color: rgb(255, 187, 58);
}

nav#header-nav {
    background-image: none;
    background-color: #2fa3ff;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.29);
}

nav a {
    color: white !important;
}

div#header-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 990px;
    padding-right: 0px;
    padding-left: 0px;
}

span#notifications-mobile {
    position: fixed;
    right: 0;
    top: 25px;
    background-color: red;
}

.icon-bar {
    background-color: white !important;
}

.button-nav {
    border-radius: 100%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: #2fa3ff;
    box-shadow: none !important;
    background-image: none !important;
}

.button-nav:focus {
    background-color: #2d95ea !important;
    border-radius: 100% !important;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-top: 10px !important;
    box-shadow: none !important;
    background-image: none !important;
}

.button-nav:hover, .button-nav:active {
    background-color: #2d95ea !important;
    background-image: none !important;
    box-shadow: inset 0px 5px 250px -27px rgba(0, 0, 0, 0.81);
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #2d95ea !important;
}

nav .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 121px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

ul#info:after {
    right: 74px !important;
}

nav#header-nav ul.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 121px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

nav#header-nav ul.dropdown-menu {
    border-radius: 8px !important;
}

button#notifications-menu {
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    nav#header-nav {
        padding-left: 0;
        padding-right: 0;
    }
}

ul[aria-labelledby=notifications-menu] {
    left: -252px !important;
    width: 400px;
    top: 57px;
}

ul[aria-labelledby=notifications-menu] > li > a, ul[aria-labelledby=avatar] > li > a {
    color: #333 !important;
}

ul[aria-labelledby=avatar] {
    left: -237px !important;
    width: 400px;
    top: 57px;
}

.padding-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}

/*first child of #content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#content {
    position: relative;
    padding-top: 70px;
    left: 0;
}

#content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
    #slide-nav .container {
        margin: 0 !important;
        padding: 0 !important;
        height: 100%;
    }

    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }

    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }

    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }

    #slide-nav {
        border-top: 0
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }

    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        bottom: 0;
        width: 80%;
        left: -80%;
        background: #f7f7f7;
    }

    #navbar-height-col.inverse {
        background: #333;
        z-index: 1;
        border: 0;
    }

    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }

    #slide-nav .navbar-form .form-control {
        text-align: center
    }

    #slide-nav .navbar-form .btn {
        width: 100%
    }
}

@media (min-width: 768px) {
    #content {
        left: 0 !important
    }

    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }

    .navbar-header {
        left: 0 !important
    }
}

.navbar-inverse {
    background-image: none;
    background-color: #2fa3ff;
}

.upgrade-mobile-button {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 86px;
    margin-right: 0px;
    height: 38px;
    margin-top: 6px;
    margin-bottom: 6px;
}

div#slide-nav {
    position: fixed;
    border: none;
}

div.monthpicker_input {
    display: none;
}

ul#info {
    width: 200px;
    left: -100px !important;
    padding: 10px !important;
    padding-bottom: 0px !important;
}

ul#info::before, ul#info::after {
    right: 73px;
}

div#navbar-height-col {
    width: 200px;
}

div.slidemenu > ul.navbar-nav {
@import "ul.navbar-nav";
    width: 200px !important;
    padding-top: 20px !important;
}

div#slidemenu {
    width: 200px !important;
}

.bordered-nav {
    border-bottom: 1px solid #403e3e !important;
}

.active > a {
    background-image: linear-gradient(to bottom, #484545 0%, #0f0f0f 100%) !important;
}

li[role=separator] {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.notifications-date {
    color: #777e8c;
    opacity: 0.7;
    margin-top: 3px;
    margin-bottom: 0px !important;
    font-size: 12.5px;
}

label.notification-header {
}

.navbar-brand > img{
    margin-top: 6px !important;
    height: 1.15em !important;

}