{#    POSITION: fixed;#}
{#    top: 50px;#}
{#    z-index: 2;#}
{#    background-color: white;#}


<!DOCTYPE html>
<html lang="en">

<script>

    function showHideGroup(childrens) {

        if (childrens.css('display') == 'none') {
            childrens.css('display', 'inherit')
        } else {
            childrens.css('display', 'none')
        }
    }


    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function removeParam(parameter, url) {
        //prefer to use l.search if you have a location/link object
        var urlparts = url.split('?');
        if (urlparts.length >= 2) {

            var prefix = encodeURIComponent(parameter) + '=';
            var pars = urlparts[1].split(/[&;]/g);

            //reverse iteration as may be destructive
            for (var i = pars.length; i-- > 0;) {
                //idiom for string.startsWith
                if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                    pars.splice(i, 1);
                }
            }

            url = urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : "");
            return url;
        } else {
            return url;
        }
    }

    function isNullOrUndefinedOrEmpty(value) {
        return value == undefined || value == null || value == '';
    }

    var section = getParameterByName("section");
    var group = getParameterByName("group");
    var row = getParameterByName("row");
    if (!isNullOrUndefinedOrEmpty("section") || !isNullOrUndefinedOrEmpty(getParameterByName("group"))
            || !isNullOrUndefinedOrEmpty(getParameterByName("row"))) {

        if (window.location.hash) {
            window.location = window.location.href.split('#')[0] + "#charts"
        }
    }

    function addOrUpdateUrlParam(name, value, url) {
        var href = url.split('#')[0];
        var regex = new RegExp("[&\\?]" + name + "=");
        if (regex.test(href)) {
            return insertParam(name, value)
        }
        else {
            if (href.indexOf("?") > -1)
                return href + "&" + name + "=" + value + "#charts";
            else
                return href + "?" + name + "=" + value + "#charts";
        }
    }

    function insertParam(key, value) {
        key = encodeURIComponent(key);
        value = encodeURIComponent(value);

        var s = document.location.search;
        var kvp = key + "=" + value;

        var r = new RegExp("(&|\\?)" + key + "=[^\&]*");

        s = s.replace(r, "$1" + kvp);

        if (!RegExp.$1) {
            s += (s.length > 0 ? '&' : '?') + kvp;
        }
        return document.location.href.substr(0, document.location.href.indexOf('?')) + s.split('#')[0] + "#charts"
    }

</script>

<head>
    <meta charset="UTF-8">
    <title>My statements | finstatement</title>

    {% load static %}
    {% include "libs.html" %}
    {% load humanize %}

    <link rel="stylesheet" href="{% static "css/root.css" %}">

    <link rel="stylesheet" href="{% static "css/data-tables.min.css" %}">
    <link rel="stylesheet" href="{% static "css/monthpicker.css" %}">
    <link rel="stylesheet" href="{% static "css/data-tables.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.bootstrap.min.css" %}">

    <script src="{% static "js/label-input.js" %}"></script>

    <script src="{% static "js/jquery-ui.min.js" %}" defer async></script>
    <link rel="stylesheet" href="{% static "css/datepicker-jquery-ui.css" %}">

    <script>
        document.write("<script src='{% static "js/jsapi.js" %}'>" + "<" + "/script>")
    </script>

    <script src="{% static "js/charts-loader.js" %}"></script>

    <script type="text/javascript" src="{% static "js/data-tables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/data-tables.responsive.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/responsive.bootstrap.min.js" %}"></script>
    <script src="{% static "js/monthpicker.min.js" %}"></script>
</head>
<body>

{% include "header.html" %}
<div id="content" class="padding-10">
    <script>

        $("div#content").load(function () {
            a('load')
            $('div#content').css('display', 'none')
        });
        $("div#content").ready(function () {
            a('ready')
            $('div#content').css('display', 'inherit')
        });

    </script>

    <div class="col-xs-12 visible-xs" id="info-mobile">
        <div class="col-xs-6 zero-padding"><span>Date: </span>
            <b><span id="current-date-mobile"></span></b></div>

        <div class="col-xs-6 pull-right zero-padding" style="width: initial"><span>Cash:</span>
            <b><span class=""><span class="currency"
                                    style="margin: 0px">$</span><span
                    id="cash-mobile">3000</span></span></b></div>
    </div>
    <div id="cash-flow-statement" class="col-xs-12" name="cash-flow-statement" method="get">
        <div id="statement">

            <div id="income-root" class="col-sm-6 zero-padding">
                <div id="income" class="col-xs-12  statement-section">

                    <div id="header" style="background-color: #2fa3ff; color: white">
                        <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Income</span>

                        <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                              id="income-menu"
                              data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                              onmouseover="this.style.cursor = 'pointer'"></span>
                        <ul class="dropdown-menu pull-right control-menu">
                            <li><a data-toggle="modal" data-target="#income-modal">Add
                                Row</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/?section=income">Line Chart</a></li>
                        </ul>
                    </div>
                    <div id="footer" class="footer">

                        {% for row in income %}

                            {% if row|length  == 3 %}
                                <div class="statement-row group" id="{{ row.0|lower|slugify }}" style="cursor: pointer"
                                     onclick="showHideGroup($('div#childrens-{{ row.0 |lower|slugify }}'))">
                                    <div class="checkbox-cell">
                                        <span class="caret group-caret"></span>
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="{{ row.0|lower|slugify }}"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="{{ row.0|lower|slugify }}" name="{{ row.0|lower|slugify }}"
                                               type="text"
                                               class="display-none cash-cell form-control value">

                                    </div>
                                </div>
                                <hr>

                                <div id="childrens-{{ row.0|lower|slugify }}" class="change" style="display: none">
                                    {% for r in row.2 %}
                                        <div class="statement-row children" id="{{ r.0 }}">
                                            <div class="checkbox-cell">
                                            </div>
                                            <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ r.0 }}</span>
                                            <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                                {{ currency|safe }}
                                                <label id="{{ r.0|lower|slugify }}"
                                                       class="zero-margin margin-right-4">{{ r.1|intcomma }}</label>
                                                <input id="{{ r.0|lower|slugify }}" name="{{ r.0|lower|slugify }}"
                                                       type="text"
                                                       class="display-none cash-cell form-control value">
                                            </div>
                                        </div>
                                        <hr>
                                        <script>
                                            incomeRowsArray.push('{{ r.0|lower|slugify }}')
                                        </script>
                                    {% endfor %}
                                </div>
                            {% elif row|length  == 2 %}
                                <div class="statement-row change">
                                    <div class="checkbox-cell">
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="investments1"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="investments1" name="investments1" type="text"
                                               class="display-none cash-cell form-control value">
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        {% endfor %}

                        {% for count in income_counter %}
                            <div class="statement-row">
                                <div class="checkbox-cell">
                                </div>
                                <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">&nbsp</span>
                                <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                    <label id="investments1"
                                           class="zero-margin margin-right-4">&nbsp</label>
                                    <input id="investments1" name="investments1" type="text"
                                           class="display-none cash-cell form-control value">
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="statement-row total">
                        <span class="currency padding-statement border-element"><b>Total:</b></span>
                        <div class="pull-right padding-statement flex padding-right-20">
                            {{ currency|safe }}
                            <span class="zero-margin margin-right-4"><b
                                    id="income-total">{{ income_total|intcomma }}</b></span>
                        </div>
                    </div>


                </div>
            </div>


            <div id="expenses-root" class="col-sm-6 zero-padding">
                <div id="expenses" class="col-xs-12 statement-section">

                    <div id="header" style="background-color: #2fa3ff; color: white">
                        <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Expenses</span>

                        <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                              id="expenses-menu"
                              data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                              onmouseover="this.style.cursor = 'pointer'"></span>
                        <ul class="dropdown-menu pull-right control-menu">
                            <li><a data-toggle="modal" data-target="#expenses-modal">Add
                                Row</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Line Chart</a></li>
                        </ul>
                    </div>

                    <div id="footer" class="footer">

                        {% for row in expenses %}

                            {% if row|length  == 3 %}
                                <div class="statement-row group" id="{{ row.0|lower|slugify }}" style="cursor: pointer"
                                     onclick="showHideGroup($('div#childrens-{{ row.0 |lower|slugify }}'))">
                                    <div class="checkbox-cell">
                                        <span class="caret group-caret"></span>
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="{{ row.0|lower|slugify }}"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="{{ row.0|lower|slugify }}" name="{{ row.0|lower|slugify }}"
                                               type="text"
                                               class="display-none cash-cell form-control value">

                                    </div>
                                </div>
                                <hr>

                                <div id="childrens-{{ row.0|lower|slugify }}" class="change" style="display: none">
                                    {% for r in row.2 %}
                                        <div class="statement-row children" id="{{ r.0 }}">
                                            <div class="checkbox-cell">
                                            </div>
                                            <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ r.0 }}</span>
                                            <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                                {{ currency|safe }}
                                                <label id="{{ r.0|lower|slugify }}"
                                                       class="zero-margin margin-right-4">{{ r.1|intcomma }}</label>
                                                <input id="{{ r.0|lower|slugify }}" name="{{ r.0|lower|slugify }}"
                                                       type="text"
                                                       class="display-none cash-cell form-control value">
                                            </div>
                                        </div>
                                        <hr>
                                        <script>
                                            incomeRowsArray.push('{{ r.0|lower|slugify }}')
                                        </script>
                                    {% endfor %}
                                </div>
                            {% elif row|length  == 2 %}
                                <div class="statement-row change">
                                    <div class="checkbox-cell">
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="investments1"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="investments1" name="investments1" type="text"
                                               class="display-none cash-cell form-control value">
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        {% endfor %}

                        {% for count in expenses_counter %}
                            <div class="statement-row">
                                <div class="checkbox-cell">
                                </div>
                                <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">&nbsp</span>
                                <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                    <label id="investments1"
                                           class="zero-margin margin-right-4">&nbsp</label>
                                    <input id="investments1" name="investments1" type="text"
                                           class="display-none cash-cell form-control value">
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="statement-row total">
                        <span class="currency padding-statement border-element"><b>Total:</b></span>
                        <div class="pull-right padding-statement flex padding-right-20">
                            {{ currency|safe }}
                            <span class="zero-margin margin-right-4"><b
                                    id="income-total">{{ expenses_total|intcomma }}</b></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="assets-root" class="col-sm-6 zero-padding">
                <div id="assets" class="col-xs-12 statement-section">

                    <div id="header" style="background-color: #2fa3ff; color: white">
                        <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Assets</span>


                        <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                              id="expenses-menu"
                              data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                              onmouseover="this.style.cursor = 'pointer'"></span>
                        <ul class="dropdown-menu pull-right control-menu">
                            <li><a data-toggle="modal" data-target="#assets-modal">Add
                                Row</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/?section=assets#charts">Line Chart</a></li>
                        </ul>
                    </div>

                    <div id="footer" class="footer">

                        {% for row in assets %}

                            {% if row|length  == 3 %}
                                <div class="statement-row group" id="{{ row.0|lower|slugify }}" style="cursor: pointer"
                                     onclick="showHideGroup($('div#childrens-{{ row.0 |lower|slugify }}'))">
                                    <div class="checkbox-cell">
                                        <span class="caret group-caret"></span>
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="{{ row.0|lower|slugify }}"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="{{ row.0|lower|slugify }}" name="{{ row.0|lower|slugify }}"
                                               type="text"
                                               class="display-none cash-cell form-control value">

                                    </div>
                                </div>
                                <hr>

                                <div id="childrens-{{ row.0|lower|slugify }}" class="change" style="display: none">
                                    {% for r in row.2 %}
                                        <div class="statement-row children" id="{{ r.0 }}">
                                            <div class="checkbox-cell">
                                            </div>
                                            <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ r.0 }}</span>
                                            <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                                {{ currency|safe }}
                                                <label id="{{ r.0|lower|slugify }}"
                                                       class="zero-margin margin-right-4">{{ r.1|intcomma }}</label>
                                                <input id="{{ r.0|lower|slugify }}" name="{{ r.0|lower|slugify }}"
                                                       type="text"
                                                       class="display-none cash-cell form-control value">
                                            </div>
                                        </div>
                                        <hr>
                                        <script>
                                            incomeRowsArray.push('{{ r.0|lower|slugify }}')
                                        </script>
                                    {% endfor %}
                                </div>
                            {% elif row|length  == 2 %}
                                <div class="statement-row change">
                                    <div class="checkbox-cell">
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="investments1"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="investments1" name="investments1" type="text"
                                               class="display-none cash-cell form-control value">
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                        {% endfor %}

                        {% for count in assets_counter %}
                            <div class="statement-row">
                                <div class="checkbox-cell">
                                </div>
                                <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">&nbsp</span>
                                <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                    <label id="investments1"
                                           class="zero-margin margin-right-4">&nbsp</label>
                                    <input id="investments1" name="investments1" type="text"
                                           class="display-none cash-cell form-control value">
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="statement-row total">
                        <span class="currency padding-statement border-element"><b>Total:</b></span>
                        <div class="pull-right padding-statement flex padding-right-20">
                            {{ currency|safe }}
                            <span class="zero-margin margin-right-4"><b
                                    id="income-total">{{ assets_total|intcomma }}</b></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="liabilities-root" class="col-sm-6 zero-padding">
                <div id="liabilities" class="col-xs-12  statement-section">

                    <div id="header" style="background-color: #2fa3ff; color: white">
                        <span class="header-statement padding-statement zero-margin-top h3-size padding-top-bottom-4">Liabilities</span>

                        <span class="header-statement zero-margin-top glyphicon glyphicon-option-vertical pull-right"
                              id="expenses-menu"
                              data-toggle="dropdown" style="margin-right: 18px; margin-top: 7px; font-size: 22px;"
                              onmouseover="this.style.cursor = 'pointer'"></span>
                        <ul class="dropdown-menu pull-right control-menu">
                            <li><a data-toggle="modal" data-target="#liabilities-modal">Add
                                Row</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/?section=liabilities#charts">Line Chart</a></li>
                        </ul>
                    </div>

                    <div id="footer" class="footer">

                        {% for row in liabilities %}

                            {% if row|length  == 3 %}
                                <div class="statement-row group" id="{{ row.0|lower|slugify }}" style="cursor: pointer"
                                     onclick="showHideGroup($('div#childrens-{{ row.0 |lower|slugify }}'))">
                                    <div class="checkbox-cell">
                                        <span class="caret group-caret"></span>
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="{{ row.0|lower|slugify }}"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="{{ row.0|lower|slugify }}" name="{{ row.0|lower|slugify }}"
                                               type="text"
                                               class="display-none cash-cell form-control value">

                                    </div>
                                </div>
                                <hr>

                                <div id="childrens-{{ row.0|lower|slugify }}" class="change" style="display: none">
                                    {% for r in row.2 %}
                                        <div class="statement-row children" id="{{ r.0 }}">
                                            <div class="checkbox-cell">
                                            </div>
                                            <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ r.0 }}</span>
                                            <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                                {{ currency|safe }}
                                                <label id="{{ r.0|lower|slugify }}"
                                                       class="zero-margin margin-right-4">{{ r.1|intcomma }}</label>
                                                <input id="{{ r.0|lower|slugify }}" name="{{ r.0|lower|slugify }}"
                                                       type="text"
                                                       class="display-none cash-cell form-control value">
                                            </div>
                                        </div>
                                        <hr>
                                        <script>
                                            incomeRowsArray.push('{{ r.0|lower|slugify }}')
                                        </script>
                                    {% endfor %}
                                </div>
                            {% elif row|length  == 2 %}
                                <div class="statement-row change">
                                    <div class="checkbox-cell">
                                    </div>
                                    <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">{{ row.0 }}</span>
                                    <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                        {{ currency|safe }}
                                        <label id="investments1"
                                               class="zero-margin margin-right-4">{{ row.1|intcomma }}</label>
                                        <input id="investments1" name="investments1" type="text"
                                               class="display-none cash-cell form-control value">
                                    </div>
                                </div>
                                <hr color="#eee">
                            {% endif %}
                        {% endfor %}

                        {% for count in liabilities_counter %}
                            <div class="statement-row">
                                <div class="checkbox-cell">
                                </div>
                                <span class="currency padding-statement border-element padding-left-0 padding-margin-right-zero">&nbsp</span>
                                <div class="pull-right padding-statement flex border-element padding-margin-left-zero">
                                    <label id="investments1"
                                           class="zero-margin margin-right-4">&nbsp</label>
                                    <input id="investments1" name="investments1" type="text"
                                           class="display-none cash-cell form-control value">
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="statement-row total">
                        <span class="currency padding-statement border-element"><b>Total:</b></span>
                        <div class="pull-right padding-statement flex padding-right-20">
                            {{ currency|safe }}
                            <span class="zero-margin margin-right-4"><b
                                    id="income-total">{{ liabilities_total|intcomma }}</b></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="charts" class="col-xs-12">
        <div class="btn-group inline" role="group" aria-label="...">

            <div id="navdrop-first" class="btn-group btn-triangle col-xs-4 dropdown" role="group"
                 style="z-index: 4">
                <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">All
                </button>
                <ul id="first-level-dropmenu" class="dropdown-menu">
                    {% for section in sections %}
                        <li>
                            <a tabindex="-1"
                               onclick="var u = addOrUpdateUrlParam('section', '{{ section.statement_section }}'.toLowerCase(), window.location.href);
                                       u = removeParam('group', u);
                                       u = removeParam('row', u);
                                       window.location.href = u + '#charts'">{{ section.statement_section }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li><a tabindex="-1" href="/">All</a></li>
                </ul>
            </div>

            {% if request.GET.section %}
                <div id="navdrop-second" class="btn-group btn-triangle col-xs-4" role="group" style="z-index: 3">
                    <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{ request.GET.section.title }}
                    </button>
                    {% if groups or rows_no_group %}
                        <ul id="first-level-dropmenu" class="dropdown-menu">
                            {% for group in groups %}
                                <li>
                                    <a tabindex="-1"
                                       style="font-weight: bold;"
                                       onclick="var u = addOrUpdateUrlParam('group', '{{ group.group_row_name }}'.toLowerCase(), window.location.href);
                                               u = removeParam('row', u);
                                               window.location.href = u + '#charts'
                                               ">{{ group.group_row_name }}</a>
                                </li>
                            {% endfor %}
                            {% if rows_no_group %}
                                <li role="separator" class="divider"></li>
                                {% for row in rows_no_group %}
                                    <li>
                                        <a tabindex="-1"
                                           onclick="var u = addOrUpdateUrlParam('row', '{{ row.row_name }}'.toLowerCase(), window.location.href);
                                                   u = removeParam('group', u);
                                                   window.location.href = u + '#charts'">{{ row.row_name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            {% if request.GET.group %}
                <div id="navdrop-third" class="btn-group btn-triangle col-xs-4" role="group" style="z-index: 2">
                    <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{ request.GET.group.title }}
                    </button>
                    <ul id="first-level-dropmenu" class="dropdown-menu">
                        {% for row in rows %}
                            <li>
                                <a tabindex="-1"
                                   onclick="var u = addOrUpdateUrlParam('row', '{{ row.row_name }}'.toLowerCase(), window.location.href);
                                           window.location.href = u + '#charts'">{{ row.row_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if request.GET.row %}
                <script>removeURLParameter("")</script>

                <div id="navdrop-fourth" class="btn-group btn-triangle col-xs-4" role="group" style="z-index: 1">
                    <button type="button" class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{ request.GET.row.title }}
                    </button>
                </div>
            {% endif %}
        </div>

        <div id="dashboard">
            <div id="chart"></div>
            <div id="filter" style="height: 50px;"></div>
            <div id="filter_mobile"></div>
        </div>
        <script type="text/javascript">

            google.load('visualization', '1.0', {'packages': ['corechart', 'controls']});
            google.setOnLoadCallback(apiLoaded);

            var controLWrapper;
            function apiLoaded() {
                var lineChartData = {{ lineChartData|safe }}
                        lineChartData.forEach(function (e) {
                            var date = e[0];

                            e[0] = new Date(date[0], date[1] - 1, date[2]);

                            e.forEach(function (c, i) {
                                if (c == 'undefined') {
                                    e[i] = undefined
                                }
                            })
                        });

                var lineChart = [{{ row_titles| safe }}];
                lineChartData.forEach(function (e) {
                    lineChart.push(e)
                });


                var dataTable = new google.visualization.arrayToDataTable(
                        lineChart
                );

                controlWrapper = new google.visualization.ControlWrapper({
                    controlType: 'DateRangeFilter',
                    containerId: 'filter',
                    state: {
                        range: {
                            //start: new Date(2009, 0, 1),
                            //end: new Date(2013, 0, 1)
                        }
                    },
                    options: {
                        filterColumnIndex: 0,
                        height: '85%',
                        ui: {
                            format: {pattern: 'M/d/yyyy'},
                            chartType: 'LineChart',
                            chartOptions: {
                                chartArea: {
                                    left: 70,
                                    right: 50,
                                    width: "100%"
                                },
                                hAxis: {
                                    format: 'M/d/yyyy',
                                    baselineColor: 'none'
                                }
                            },
                            minRangeSize: 86400000
                        },
                        interpolateNulls: true
                    }
                })
                ;

                var chartWrapper = new google.visualization.ChartWrapper({
                    chartType: 'LineChart',
                    containerId: 'chart',

                    options: {
                        series: {
                            0: {color: '#3c6eff'},
                            1: {color: '#e22515'},
                            2: {color: 'green'},
                            3: {color: '#e49307'},
                            4: {color: '#5c3292'}
                        },
                        height: 300,
                        chartArea: {
                            left: 70,
                            right: 50,
                            width: "100%",
                            top: 30
                        },
                        legend: 'bottom',
                        hAxis: {
                            {#                            ticks: [new Date(2017, 2, 15), new Date(2017, 2, 15), new Date(2017, 2, 15), new Date(2017, 2, 15), new Date(2017, 2, 15)],#}

                            format: 'M/d/yyyy',
                            maxTextLines: 15,
                            minTextSpacing: 100
                        },
                        vAxis: {
                            format: 'short',
                            minValue: 0
                        },
                        animation: {
                            duration: 500,
                            easing: 'out'
                        },
                        pointSize: 3,
                        interpolateNulls: true
                    }
                });

                var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));
                dashboard
                        .bind(controlWrapper, chartWrapper)
                        .draw(dataTable);
            }

            $(document).ready(function () {
                $('.dropdown-submenu a.dropdown-second-level').on("click", function (e) {
                    $(this).next('ul').toggle();
                    e.stopPropagation();
                    e.preventDefault();
                });
            });
        </script>
    </div>


    <div id="cash-flow-move" class="col-xs-12 bordered">
        <div class="pull-right inpt-search" style="display: none;">
            <span id="search" class="glyphicon glyphicon-zoom-in pull-right" style="font-size: 2em"></span>
            <input type="text" id="search" class="form-control pull-right round" placeholder="Search..." autofocus
                   style="display: none">
        </div>
        <script>

            var flag = false;
            $('span#search').click(function () {
                $('span#search').hide();
                $('input#search').show('slow');
                flag = true;
            })

        </script>

        <div id="cash-flow-move-table">
            <table id="cash-flow-move-table"
                   class="table table-striped table-bordered dt-responsive nowrap"></table>
        </div>
        <script>
            var table = 'table#cash-flow-move-table';
            var rowNames = ['Name', 'Group', 'Section', 'Record Date', 'Value', 'Cash', ''];
        </script>

        {% if moves %}
            <script>
                var None = '-'
                var dataTable = {{ moves|safe }};
            </script>
        {% endif %}

        <script>
            var t = '';

            t += '<thead>';
            t += '\n\t<tr>';
            rowNames.forEach(function (name, index) {
                if (index <= 3) {
                    //style='width: 20px'
                    t += "\n\t\t<th class='th'>" + name + '</th>'
                } else {
                    t += "\n\t\t<th class='th'>" + name + '</th>'
                }
            });
            t += '\n\t</tr>';
            t += '</thead>';
            t += '<tbody>';
            dataTable.forEach(function (row) {
                t += "\n<tr>";

                var i = 0;
                row.forEach(function (cell) {
                    ++i;
                    if (i == 5) {

                        if (cell < 0) {
                            cell = numberWithCommas(cell)
                            t += '\n\t\t<td style=\"color: red; text-align: right\">$ ' + cell + '</td>';
                        } else {
                            cell = numberWithCommas(cell)
                            t += '\n\t\t<td style=\"color: green; text-align: right\">$ ' + cell + '</td>';
                        }
                    } else if (i == 6) {
                        cell = numberWithCommas(cell)
                        t += '\n\t\t<td style=\" text-align: right\">$ ' + cell + '</td>';
                    } else if (i == 7) {
                        t += '<td style="text-align: center"><a href="delete/' + cell + '"><span class="glyphicon glyphicon-trash"></span></a></td>'
                    } else {
                        t += '\n\t\t<td>' + cell + '</td>';
                    }
                });

                t += '\n</tr>'
            });
            t += '</tbody>';

            $(table).html(t)

            $(document).ready(function () {
                var tb = $(table).DataTable({
                            "lengthChange": false,
                            "pageLength": 10,
                            "autoWidth": false,
                            "formatNumber": function (toFormat) {
                                return toFormat.toString().replace(
                                        /\B(?=(\d{3})+(?!\d))/g, "'"
                                );
                            },
                        })
                        ;

                $('input#search').keyup(function () {
                    tb.search($(this).val()).draw();
                });
            });

            jQuery(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.document.location = $(this).data("href");
                });
            });
        </script>

    </div>

    <div id="income-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" align="center">Add new <b>income</b> row
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body" style="height: 269px;">

                    {#  action="add" #}
                    <form id="add-form" name="add-form" class="form" 
                          onsubmit="addRow($('div#income-modal form#add-form'), 'Income')">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="name">Name:<span
                                    id="name-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="name" name="name" maxlength="15"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="value">Value:<span
                                    id="value-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="number" class="form-control" id="value" name="value"
                                       onkeydown="validateNumber(event)" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="date">Date:</label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="date" name="date"
                                       onkeypress="return false;"
                                       onpaste="return false;" required>
                            </div>
                            <script>
                                $(function () {
                                    $("input#date").datepicker({
                                        firstDay: 1

                                    }).datepicker("setDate", new Date());
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Group:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="group" name="group">
                                    <option value="">------------select one------------</option>
                                    {% for row in income %}
                                        {% if row|length  == 3 %}
                                            <option value="{{ row.0|lower|slugify }}">{{ row.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Recurring:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="recurring" name="recurring" required>
                                    <option value="once">Once</option>
                                    <option value="day">Every day</option>
                                    <option value="week">Every week</option>
                                    <option value="month">Every month</option>
                                    <option value="year">Every year</option>
                                </select>
                            </div>
                        </div>

                        <div align="center" style="top: 30px; position: relative;">
                            <button type="submit" class="btn btn-primary b-primary b">Save
                            </button>
                            <button type="reset" class="btn btn-default b-default b" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>


                <div class="modal-footer" style="height: 64px">

                </div>
            </div>

        </div>
    </div>
    <div id="expenses-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" align="center">Add new <b>expense</b> row
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body" style="height: 269px;">

                    <form id="add-form" name="add-form" class="form"  action="add"
                          onsubmit="addRow($('div#expenses-modal form#add-form'), 'Expenses')">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="name">Name:<span
                                    id="name-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="name" name="name" maxlength="15"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="value">Value:<span
                                    id="value-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="number" class="form-control" id="value" name="value"
                                       onkeydown="validateNumber(event)" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="date">Date:</label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="date" name="date"
                                       onkeypress="return false;"
                                       onpaste="return false;" required>
                            </div>
                            <script>
                                $(function () {
                                    $("input#date").datepicker({
                                        firstDay: 1
                                    }).datepicker("setDate", new Date());
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Group:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="group" name="group">
                                    <option value="">------------select one------------</option>
                                    {% for row in expenses %}
                                        {% if row|length  == 3 %}
                                            <option value="{{ row.0|lower|slugify }}">{{ row.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Recurring:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="recurring" name="recurring" required>
                                    <option value="once">Once</option>
                                    <option value="day">Every day</option>
                                    <option value="week">Every week</option>
                                    <option value="month">Every month</option>
                                    <option value="year">Every year</option>
                                </select>
                            </div>
                        </div>

                        <div align="center" style="top: 30px; position: relative;">
                            <button type="submit" class="btn btn-primary b-primary b">Save
                            </button>
                            <button type="reset" class="btn btn-default b-default b" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>


                <div class="modal-footer" style="height: 64px">

                </div>
            </div>

        </div>
    </div>
    <div id="assets-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" align="center">Add new <b>asset</b> row
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body" style="height: 250px">

                    <form id="add-form" name="add-form" class="form"  action="add"
                          onsubmit="addRow($('div#assets-modal form#add-form'), 'Assets')">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="name">Name:<span
                                    id="name-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="name" name="name" maxlength="15"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="value">Value:<span
                                    id="value-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="number" class="form-control" id="value" name="value"
                                       onkeydown="validateNumber(event)" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="date">Date:</label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="date" name="date"
                                       onkeypress="return false;"
                                       onpaste="return false;" required>
                            </div>
                            <script>
                                $(function () {
                                    $("input#date").datepicker({
                                        firstDay: 1
                                    }).datepicker("setDate", new Date());
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Group:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="group" name="group">
                                    <option value="">------------select one------------</option>
                                    {% for row in assets %}
                                        {% if row|length  == 3 %}
                                            <option value="{{ row.0|lower|slugify }}">{{ row.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label class="col-xs-offset-4" style="padding-left: 15px; padding-right: 15px">
                            <input type="checkbox" id="asset-profitable"> generates income</label>

                        <div id="profitable" style="display: none">

                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="profit"
                                       style="padding-top: 6px;">Income:<span
                                        id="profit-error" class="alrt">*</span></label>
                                <div class="col-sm-6 col-xs-8">
                                    <input type="number" class="form-control" id="profit" name="value"
                                           onkeydown="validateNumber(event)" min="1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                       for="rhythm" style="padding-top: 6px;">Recurring:</label>
                                <div>
                                    <div class="col-sm-6 col-xs-8">
                                        <select class="form-control" id="recurring" name="recurring" required>
                                            <option value=""></option>
                                            <option value="once">Once</option>
                                            <option value="day">Every day</option>
                                            <option value="week">Every week</option>
                                            <option value="month">Every month</option>
                                            <option value="year">Every year</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            $('div#assets-modal input[type=checkbox]').click(function () {
                                if ($(this).is(':checked')) {
                                    $("div#assets-modal div#profitable").show();
                                    $("div#assets-modal div.modal-body").css('height', '335px')
                                    $("input").prop('required', true);
                                    $("div#assets-modal div#buttons").css('top', '21px')
                                    $("div#assets-modal div#buttons").css('position', 'relative')
                                } else {
                                    $("div#assets-modal div#profitable").hide();
                                    $("div#assets-modal div.modal-body").css('height', '250px')
                                    $("input").prop('required', false);
                                    $("div#assets-modal div#buttons").css('top', '30px')
                                    $("div#assets-modal div#buttons").css('position', 'relative')
                                }
                            });
                        </script>

                        <div align="center" id="buttons" style="top: 30px; position: relative;">
                            <button type="submit" class="btn btn-primary b-primary b">Save
                            </button>
                            <button type="reset" class="btn btn-default b-default b" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>


                <div class="modal-footer" style="height: 64px">

                </div>
            </div>

        </div>
    </div>
    <div id="liabilities-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" align="center">Add new <b>liability</b> row
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </h4>
                </div>
                <div class="modal-body" style="height: 250px;">

                    <form id="add-form" name="add-form" class="form"  action="add"
                          onsubmit="addRow($('div#liability-modal form#add-form'), 'Liabilities')">
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="name">Name:<span
                                    id="name-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="name" name="name" maxlength="15"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="value">Value:<span
                                    id="value-error" class="alrt">*</span></label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="number" class="form-control" id="value" name="value"
                                       onkeydown="validateNumber(event)" min="1" required>
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="date">Date:</label>
                            <div class="col-sm-6 col-xs-8">
                                <input type="text" class="form-control" id="date" name="date"
                                       onkeypress="return false;"
                                       onpaste="return false;" required>
                            </div>
                            <script>
                                $(function () {
                                    $("input#date").datepicker({
                                        firstDay: 1
                                    }).datepicker("setDate", new Date());
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                   for="rhythm">Group:</label>
                            <div class="col-sm-6 col-xs-8">
                                <select class="form-control" id="group" name="group">
                                    <option value=""></option>
                                    {% for row in liabilities %}
                                        {% if row|length  == 3 %}
                                            <option value="{{ row.0|lower|slugify }}">{{ row.0 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label class="col-xs-offset-4" style="padding-left: 15px; padding-right: 15px">
                            <input type="checkbox" id="liabilities-profitable"> generates income</label>

                        <div id="profitable" style="display: none">

                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4" for="profit"
                                       style="padding-top: 6px; padding-right: 0px">Expense:<span
                                        id="profit-error" class="alrt">*</span></label>
                                <div class="col-sm-6 col-xs-8">
                                    <input type="number" class="form-control" id="profit" name="value"
                                           onkeydown="validateNumber(event)" min="1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-offset-2 col-sm-2 col-xs-4"
                                       for="rhythm" style="padding-top: 6px;">Recurring:</label>
                                <div>
                                    <div class="col-sm-6 col-xs-8">
                                        <select class="form-control" id="recurring" name="recurring" required>
                                            <option value=""></option>
                                            <option value="once">Once</option>
                                            <option value="day">Every day</option>
                                            <option value="week">Every week</option>
                                            <option value="month">Every month</option>
                                            <option value="year">Every year</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            $('div#liabilities-modal input[type=checkbox]').click(function () {
                                if ($(this).is(':checked')) {
                                    $("div#liabilities-modal div#profitable").show();
                                    $("div#liabilities-modal div.modal-body").css('height', '335px')
                                    $("input").prop('required', true);
                                    $("div#liabilities-modal div#buttons").css('top', '21px')
                                    $("div#liabilities-modal div#buttons").css('position', 'relative')
                                } else {
                                    $("div#liabilities-modal div#profitable").hide();
                                    $("div#liabilities-modal div.modal-body").css('height', '250px')
                                    $("input").prop('required', false);
                                    $("div#liabilities-modal div#buttons").css('top', '30px')
                                    $("div#liabilities-modal div#buttons").css('position', 'relative')
                                }
                            });
                        </script>

                        <div align="center" id="buttons" style="top: 30px; position: relative;">
                            <button type="submit" class="btn btn-primary b-primary b">Save
                            </button>
                            <button type="reset" class="btn btn-default b-default b" data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>


                <div class="modal-footer" style="height: 64px">

                </div>
            </div>

        </div>
    </div>

</div>

<!--check values before SAVE!-->
<script>

    $(window).resize(function () {
        if (this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function () {
            $(this).trigger('resizeEnd');
        }, 500);
    });

    $(window).on('resizeEnd', function () {
        apiLoaded();
    });
</script>


<script>
    var indexes = ['first', 'second', 'third', 'fourth'];
    var prefix = "navdrop-";

    var width = 0;
    indexes.forEach(function (index) {
        var item = 'div#' + prefix + index;

        width = $(item).css('width')
        width = parseInt(width)
        width -= 10;
        $('head').append('<style>' + item + ':before{left:' + width + 'px !important;}</style>');
    });

</script>

<script>
    var date = new Date();

    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jui", "Aug", "Sep", "Oct", "Nov", "Dec"
    ];

    $('span#current-date-mobile').html(monthNames [date.getMonth()] + '/' + date.getFullYear())
    $('span#cash-mobile').html('&nbsp;' + numberWithCommas($('span#cash-mobile').text()));
</script>


</body>
</html>