<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
    <title>Title</title>
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="css/bootstrap-theme.css">

        <link rel="stylesheet" href="css/bootstrap.css">



        <script src="js/bootstrap.js"></script>
<!--</head>-->
<!--<body>-->

<!--<div class="container"></div><button class="btn-default"> sFGHJ</button></body>-->
<!--</body>-->
<!--</html>-->

<!--<!doctype html>-->
<!--<html xmlns="http://www.w3.org/1999/html">-->
    <!--<head>-->

        <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->

        <!--<link rel="stylesheet" href="css/bootstrap.css">-->



        <!--<script src="js/bootstrap.js"></script>-->












    </head>

    <body>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab">
                <li id="node-properties-li" ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Node Properties</a></li>
                <li id="snmp-properties-li" ng-style="tabStyle2" ng-init="tabStyle2 ={'display': 'none'}" ng-class="{active:tab.isSet(2)}"  ><a href ng-click="tab.setTab(2)">SNMP Properties</a></li>
                <li id="monitoring-li" ng-style="tabStyle3" ng-init="tabStyle3 ={'display': 'none'}" ng-class="{active:tab.isSet(3)}" ><a href ng-click="tab.setTab(3)">Monitoring</a></li>
            </ul>

            <button class="btn btn-danger">sdasd</button>

                <!--<fieldset class="tab-content">-->

                    <!--<div id="node-properties-div" ng-show="tab.isSet(1)" >-->

                        <!--<form class="form-horizontal" id="node-properties-form"  ng-submit="tab.setTab(2); tabStyle2={'dispaly': 'inline'}" onsubmit="" >-->

                            <!--<div style="display: inline-block">-->
                            <!--<div class="col-lg-6">-->
                                <!--<fieldset class="general-properties" id="general-properties">-->
                                    <!--<legend>General Properties</legend>-->


                                    <!--<div class="panel-body">-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="name" class="col-md-4 control-label">Name:</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<input required type="text" class="form-control" id="name" name="name"-->
                                                       <!--ng-model="nodePropertiesData.name" >-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="form-group">-->
                                            <!--<label for="organization"-->
                                                   <!--class="col-md-4 control-label">Organization:</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<input required type="text" class="form-control" id="organization"-->
                                                       <!--name="organization"-->
                                                       <!--ng-model="nodePropertiesData.organisation" >-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="status" class="col-md-4 control-label">Status:</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<select required class="form-control" id="status" name="status"-->
                                                        <!--ng-model="nodePropertiesData.status" >-->
                                                    <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                                    <!--<option value="implementation">implementation</option>-->
                                                    <!--<option value="obsolete">obsolete</option>-->
                                                    <!--<option value="production">production</option>-->
                                                    <!--<option value="stock">stock</option>-->
                                                <!--</select>-->
                                            <!--</div>-->

                                        <!--</div>-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="business-criticality" class="col-md-4 control-label">Business-->
                                                <!--Criticality:</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<select required class="form-control" id="business-criticality"-->
                                                        <!--name="business-criticality"-->
                                                        <!--ng-model="nodePropertiesData.businessCriticality" >-->
                                                    <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                                    <!--<option value="low">low</option>-->
                                                    <!--<option value="medium">medium</option>-->
                                                    <!--<option value="hight">hight</option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="location" class="col-md-4 control-label">Location:</label>-->
                                            <!--<div class="col-md-4">-->
                                                <!--<input required type="text" class="form-control" id="location" name="location"-->
                                                       <!--ng-model="nodePropertiesData.location" >-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</fieldset>-->
                                <!--<fieldset class="more-information" id="more-information">-->
                                    <!--<legend>More Information</legend>-->


                                    <!--<div class="form-group">-->
                                        <!--<label for="network-type" class="col-md-4 control-label">Network Type:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="network-type"-->
                                                   <!--name="network-type"-->
                                                   <!--ng-model="nodePropertiesData.networkType" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="brand" class="col-md-4 control-label">Brand:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<select required class="form-control"-->
                                                    <!--ng-options="brand as brand for brand in brands" id="brand"-->
                                                    <!--ng-model="nodePropertiesData.brand" >-->
                                                <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="model" class="col-md-4 control-label">Model:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<select required class="form-control"-->
                                                    <!--ng-options="model as model for model in brandValue(nodePropertiesData.brand) "-->
                                                    <!--id="model" ng-model="nodePropertiesData.model" >-->
                                                <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="ios-version" class="col-md-4 control-label">IOS Version:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<select required class="form-control"-->
                                                    <!--ng-options="os as os for os in oss(nodePropertiesData.model) "-->
                                                    <!--id="ios-version" ng-model="nodePropertiesData.iosVersion" >-->
                                                <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="managment-ip" class="col-md-4 control-label">Management IP:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="managment-ip"-->
                                                   <!--ng-model="nodePropertiesData.managementApi" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="device-ip" class="col-md-4 control-label">Device IP:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="device-ip"-->
                                                   <!--ng-model="nodePropertiesData.deviceIp" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="ram" class="col-md-4 control-label">RAM:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="ram"-->
                                                   <!--ng-model="nodePropertiesData.ram"-->
                                                   <!--&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="rack-units" class="col-md-4 control-label">Rack Units:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="rack-units"-->
                                                   <!--ng-model="nodePropertiesData.rackUnits" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="serial-number" class="col-md-4 control-label">Serial Number:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="serial-number"-->
                                                   <!--ng-model="nodePropertiesData.serialNumber" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="assert-number" class="col-md-4 control-label">Asset Number:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="assert-number"-->
                                                   <!--ng-model="nodePropertiesData.assetNumber" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</fieldset>-->
                            <!--</div>-->
                            <!--<div class="col-lg-6">-->

                                <!--<fieldset class="dates" id="dates">-->
                                    <!--<legend>Dates</legend>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="move-to-production-day" class="col-md-4 control-label">Move to-->
                                            <!--Production-->
                                            <!--Date:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="move-to-production-day" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.moveToProductionDay"-->
                                                       <!--is-open="popups[0].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(0)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="purchase-date" class="col-md-4 control-label">Purchase Date:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="purchase-date" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.purchaseDate"-->
                                                       <!--is-open="popups[1].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(1)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="end-of-warranty" class="col-md-4 control-label">End of-->
                                            <!--Warranty:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="end-of-warranty" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.endOfWarranty"-->
                                                       <!--is-open="popups[2].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(2)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="end-of-support" class="col-md-4 control-label">End of-->
                                            <!--Support:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="end-of-support" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.endOfSupport"-->
                                                       <!--is-open="popups[3].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(3)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="form-group">-->
                                        <!--<label for="end-of-life" class="col-md-4 control-label">End of Life:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="end-of-life" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.endOfLife"-->
                                                       <!--is-open="popups[4].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(4)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</fieldset>-->
                                <!--<fieldset class="maintenance-period" id="maintenance-period">-->

                                    <!--<legend>Maintenance Period</legend>-->

                                    <!--<div class="form-group">-->

                                        <!--<label for="start-date" class="col-md-4 control-label">Start Date:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="start-date" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.startDate"-->
                                                       <!--is-open="popups[5].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(5)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="form-group">-->

                                        <!--<label for="end-date" class="col-md-4 control-label">End Date:</label>-->

                                        <!--<div class="col-md-8">-->
                                            <!--<p class="input-group">-->
                                                <!--<input required type="text" id="end-date" class="form-control"-->
                                                       <!--uib-datepicker-popup="{{format}}"-->
                                                       <!--ng-model="nodePropertiesData.endDate"-->
                                                       <!--is-open="popups[6].opened"-->
                                                       <!--datepicker-options="dateOptions" ng-="true"-->
                                                       <!--close-text="Close"-->
                                                       <!--alt-input-formats="altInputFormats" onkeydown="return false"  />-->
                                                <!--<span class="input-group-btn">-->
                                            <!--<button type="button" class="btn btn-default" ng-click="openPopup(6)">-->
                                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                            <!--</button>-->
                                        <!--</span>-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</fieldset>-->
                                <!--<fieldset class="other-info" id="other-info">-->
                                    <!--<legend>Other Information</legend>-->

                                    <!--<textarea class="form-control col-md-4" ng-model="nodePropertiesData.otherInfo"-->
                                              <!--id="other-information"></textarea>-->
                                    <!--</li>-->

                                <!--</fieldset>-->

                                <!--<fieldset class="power-suply" id="power-suply">-->
                                    <!--<legend>Power Supply</legend>-->
                                <!--</fieldset>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="center-block" id="nextPageNodeProperties">-->
                                <!--<input required type="submit" class="btn btn-primary center-block" value="Next Page"/>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->

                    <!--<div id="snmp-properties-div"  ng-show="tab.isSet(2)">-->

                        <!--<form class="form-horizontal" id="snmp-properties-form"  onsubmit=" " ng-submit="tab.setTab(3);  tabStyle3={'dispaly': 'inline'}">-->

                        <!--<fieldset class="snmp-properties" id="snmp-properties">-->

                            <!--<legend>SNMP Properties</legend>-->


                            <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="community-name" class="col-md-4 control-label">Community-->
                                            <!--Name:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.communityName"-->
                                                   <!--id="community-name" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="authentication-level" class="col-md-4 control-label">Authentication-->
                                            <!--Level:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.authenticationLevel"-->
                                                   <!--id="authentication-level"-->
                                                   <!--&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="authentication-password" class="col-md-4 control-label">Authentication-->
                                            <!--Password:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.authenticationPassword"-->
                                                   <!--id="authentication-password"-->
                                                   <!--&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="authentication-algorithm" class="col-md-4 control-label">Authentication-->
                                            <!--Algorithm:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.authenticationAlgorithm"-->
                                                   <!--id="authentication-algorithm" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="crypto-password" class="col-md-4 control-label">Crypto-->
                                            <!--Password:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.cryptoPassword"-->
                                                   <!--id="crypto-password" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="crypto-algorythm" class="col-md-4 control-label">Crypto-->
                                            <!--Algorithm:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control"-->
                                                   <!--ng-model="snmpPropertiesData.cryptoAlgorithm"-->
                                                   <!--id="crypto-algorythm" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="snmp-version" class="col-md-4 control-label">SNMP Version:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<select required class="form-control" ng-model="snmpPropertiesData.snmpVersion"-->
                                                   <!--id="snmp-version" >-->
                                                <!--<option value="">&#45;&#45;select one&#45;&#45;</option>-->
                                                <!--<option value="v1">v1</option>-->
                                                <!--<option value="v2c">v2c</option>-->
                                                <!--<option value="v3">v3</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                            <!--</div>-->
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group">-->
                                        <!--<label for="port" class="col-md-4 control-label">Port:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="port" ng-model="snmpPropertiesData.port"  >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="timeout" class="col-md-4 control-label">Timeout:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="timeout" ng-model="snmpPropertiesData.timeout" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="retries" class="col-md-4 control-label">Retries:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="retries" ng-model="snmpPropertiesData.retries" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="ssh-port" class="col-md-4 control-label">SSH Port:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="ssh-port" ng-model="snmpPropertiesData.sshport" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="agent-version" class="col-md-4 control-label">Agent Version:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="agent-version" ng-model="snmpPropertiesData.agentVersion" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="transport" class="col-md-4 control-label">Transport:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="transport" ng-model="snmpPropertiesData.transport" >-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label for="engine-id" class="col-md-4 control-label">Engine ID:</label>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<input required type="text" class="form-control" id="engine-id" ng-model="snmpPropertiesData.engineId" >-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                        <!--</fieldset>-->

                            <!--<div class="center-block" id="nextPageSnmpProperties">-->
                                <!--<input required type="submit" class="btn btn-primary center-block" value="Next Page" >-->
                            <!--</div>-->
                        <!--</form>-->

                    <!--</div>-->
                    <!--<div id="monitoring-div"  ng-show="tab.isSet(3)">-->
                        <!--<div class="center-block" id="nextPageMonitoring">-->
                            <!--<input required type="submit" class="btn btn-primary center-block" value="Next Page" ng-click="print()">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->
            <!--</form>-->
        </div>
    </body>
</html>